.slide {
  width: $width;
  height: $height;
  background-color: white;
}

.slide1 {background-image: url('../images/FM-Infographic5-animation_fm-info-slide1.png');}
.slide2 {background-image: url('../images/FM-Infographic5-animation_fm-info-slide2.png');}
.slide3 {background-image: url('../images/FM-Infographic5-animation_fm-info-slide3.png');}
.slide4 {background-image: url('../images/FM-Infographic5-animation_fm-info-slide4.png');}
.slide5 {background-image: url('../images/FM-Infographic5-animation_fm-info-slide5.png');}
.slide6 {background-image: url('../images/FM-Infographic5-animation_fm-info-slide6.png');}
.slide7 {background-image: url('../images/FM-Infographic5-animation_fm-info-slide7.png');}
.slide8 {background-image: url('../images/FM-Infographic5-animation_fm-info-slide8.png');}
